@import '../lib/flexboxgrid';
@import '../variables/colors.less';
@import 'reset';
@import 'fonts';
@import '../components/material/components';
@import '../components/material/controls';
@import '../components/common/indicator';
@import 'layout/layout';

/* Выключаем подсветку полей на android */
* {
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0) !important; 
    -webkit-focus-ring-color: rgba(255, 255, 255, 0) !important; 
    outline: none !important;
}

html,body {
    font-size: 16px;
    background: @color-body;
}

body,
input,
select,
textarea,
body * {
	font-family: 'PT sans', Tahoma, sans-serif;
	box-sizing: border-box;


	&::after,
	&::before {
		box-sizing: border-box;
	}
}

input,
select,
textarea,
button {
  font-size: 1rem;
  padding: 0.75rem 1rem;
  line-height: 1.25;
}


a {
    cursor: pointer;
}

.no-scroll {
    overflow-y: hidden;
}
.offset-loop(@current, @end, @step, @prop, @classPrefix) when (@current =< @end) {
  .@{classPrefix}-@{current} {
    @{prop}: @current * 1px;
  }
  .offset-loop((@current + @step),@end, @step, @prop, @classPrefix);
}


.offset-loop(5, 40, 5, margin-top, mt);
.offset-loop(5, 40, 5, margin-bottom, mb);
.offset-loop(5, 40, 5, margin-left, ml);
.offset-loop(5, 40, 5, margin-right, mr);
.offset-loop(5, 40, 5, padding-top, pt);
.offset-loop(5, 40, 5, padding-bottom, pb);
.offset-loop(5, 40, 5, padding-left, pl);
.offset-loop(5, 40, 5, padding-right, pr);
