@fontPath: '/fonts/';

@font-face {
    font-family: 'Days Sans';
    src: local('Days Sans Black'), local('DaysSansBlack'), url("@{fontPath}dayssansblack.woff2") format("woff2"), url("@{fontPath}dayssansblack.woff") format("woff"), url("@{fontPath}dayssansblack.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}


@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Reqular'), local('PTSansReqular'), url("@{fontPath}PT_Sans-Web-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Italic'), local('PTSansItalic'), url("@{fontPath}PT_Sans-Web-Italic.ttf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold Italic'), local('PTSansBoldItalic'), url("@{fontPath}PT_Sans-Web-BoldItalic.ttf") format("truetype");
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'PT Sans';
    src: local('PT Sans Bold'), local('PTSansBold'), url("@{fontPath}PT_Sans-Web-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}