@import '../../variables/layout';
@import 'content';
@import 'header';
@import 'drawer';

.layout {
    width: 100%;
    position: relative;
}

.layout__top-bg {
    position: absolute;
    background: url('/img/bg.png') no-repeat center;
    background-size: cover;
    top: 0;
    left: 0;
    right: 0;
    height: @layout-top-bg-height;
}

@media all and (max-width: @mobile-max-screen-witdth) {
    .layout__top-bg {
        background: none;
    }
}


