@import '../../variables/colors';

.indicator {
	position: relative;
	height: auto;
	display: flex;
	align-items: center;
    cursor: pointer;
    user-select: none;
    

	input {
		position: absolute;
		left: 0;
		opacity: 0.0001;
	}
    
	

	input:checked ~ .indicator__icon {
		fill: @color-primary-dark;
	}
    input:checked ~ .indicator__label {
		color: @color-primary-dark;
	}
	input:disabled ~ .indicator__icon {
		fill: lighten(@color-text-secondary,30%);
        pointer-events: none;
	}
    input:disabled ~ .indicator__label {
		color: lighten(@color-text-secondary,30%);
        pointer-events: none;
		
	}
}

.indicator__icon {
	position: relative;
	display: inline-block;
	height: 1.2em;
	width: 1.2em;
	fill: @color-text-secondary;
	vertical-align: sub;
	transition: all .1s ease;
	flex-shrink: 0;
}

.indicator__label {
	padding-left: 0.5em;
       color: @color-text-secondary;
	transition: all .1s ease;
}
