@import '../variables/colors';
@import '../variables/layout';

.places-list {
    padding: 1rem 0;
    overflow-x: hidden;
    max-width: 100%;
    box-sizing: content-box;
}

.places-list__item {
    margin: 0 0 1rem 0;
    width: 100%;
}

.place-card {
    display: flex;
    flex-direction: row;
    height: 10rem;
    background: @color-card;
    border-bottom: 1px solid @color-divider;
}

.place-card__image {
    background: url('/img/cafe.jpg') center center no-repeat;
    background-size: cover;
    display: flex;
    flex: 0 0 30%;
    align-items: flex-end;
    z-index: 0;
}

.place-card__content {
    flex: 1 1 auto;
    padding: 1rem;
}



.place-card__title  {
    color: @color-text-primary;
    z-index: 2;
    font-size: 1.2rem;
}

.place-card__description {
    font-size: 0.9rem;
    color: @color-text-secondary;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
}

.place-card__feature {
    font-size: 0.9rem;
    margin-bottom: 0.25rem
}
.place-card__feature-name {
    color: @color-primary-dark;
    margin-right: 10px;
}

.place-card__feature-description {
    color: @color-text-secondary;
}

@media all and (max-width: @mobile-max-screen-witdth) {
    .places-list {
        padding-top: @search-panel-header-height + 1rem;
    }
    
    .place-card {
        z-index: 0;
        position: relative;
    }
    .place-card__content {
        z-index: 1;
    }
    
    .place-card__image {
        position: absolute;
        width: 100%;
        height: 100%;
        &:before {
            content: ' ';
            position: absolute;
            display: block;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            background: rgba(0, 0, 0, 0.57);
        } 
    }
    
    .place-card__title {
        color: @color-text-light;
    }
    
    .place-card__description {
        color: @color-text-light-secondary;
    }
    
    .place-card__feature-description {
        color: @color-text-light;
    }
}