@import '../variables/colors';
@import '../variables/layout';
@import '../variables/shadows';

@text-color: #d4d4d4;
@header-font-size: 1.5rem;


.search-panel {
    width: 100%;
    background: @color-dark-background;
    box-shadow: @shadow-2;
    margin-top: 6rem;
    color: @text-color
}

.search-panel__header {
    display: flex;
    padding: 2rem 3.75rem;
    max-height: @search-panel-header-height;
    align-items: center;
}

.search-panel__title {
    font-size: @header-font-size;
    font-weight: bold;
    width: 100%;
    text-align: center;
    flex: 1 1 auto;
}

.search-details-expander {
    display: none;
}

.search-panel__content {
    padding:  0 3.75rem;
}

.search-details {
    display: flex;
    flex-direction: column;
}

.search-details__filters {
    padding-bottom: 1rem;
    overflow-y: auto;
    overflow-x: hidden;
    flex: 1 1 auto;
}

.group-divider {
    display: inline-block;
    width: 1rem;
    height: 2rem;
    flex-shrink: 0;
    flex-grow: 0;
}

.group-title {
    display: block;
    font-weight: bold;
    margin-bottom: 1rem;
}


.details-group__tag {
    padding: 0.25rem 0.5rem;
    display: inline-block;
    margin: 0 0.5rem 0.5rem 0;
    transition: background .2s ease-in-out;
    border: 1px solid @color-border;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.07);
    
    &:hover {
        cursor: pointer;
    }
}

.details-group__tag--selected,
.details-group__tag--selected:hover {
    background: #363938;
    color: @color-primary-dark;
}

.search-details__input {
    flex-grow: 1;
    border: 1px solid;
    border-color: transparent;
    box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.07);
    transition: border-color 0.1s linear;
    will-change: border-color;
    width: 100%;
}

.search-details__input:focus {
    border-color: #bcca37;
}

.search-details__actions {
    text-align: center;
    padding: 0.5rem 0;
}

.search-details__fixed-content {
    flex: 0 0 auto;
}

.search-details__run-search-btn {
    font-weight: bold;
    color: @color-primary-dark;
}

.tabs-block {
    display: flex;
}

.tabs-block__item {
    display: inline-block;
    flex: 1 1 100%;     
    padding: 0.25rem 0;
    margin: 0 0 0.5rem 0;
    font-weight: bold;
    color: @text-color;
}
.tabs-block__stub {
    flex: 1 1 auto;
}
.tabs-block__item-counter {
    display: none;
}

.tabs-content-block {
    display: flex;
    margin-bottom: 1rem;
}

.tabs-content-block__item {
    flex: 1 1 100%;
}


.indicators-block {
   margin: 1rem -1rem;  
   display: flex;
   flex-wrap: wrap;
}

.indicators-block__item {
    margin-bottom: 0.5em;
    padding: 0 1rem;
    flex: 0 0 auto;
}

.indicator__icon {
    fill: @text-color;
}
.indicator__label {
    color: @text-color;
}

.header-params {
    flex: 1 1 auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    padding: 1rem 0;
    border-bottom: 1px solid;
}
.header-params__row {
    display: flex;
    margin-bottom: 0.25rem;
}
.header-params__search-flags {
    flex: 0 0 auto;
}

.header-params__flag {
    fill: @color-primary-dark;
    width: 1.2rem;
    height: 1.2rem;
    margin: 0 0.25rem;
}

.header-params__search-text {
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
} 

.header-params__tags-list {
    color: @color-primary-dark;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@media all and (max-width: @mobile-max-screen-witdth) {
    .search-panel {
        margin-top: 0;
        z-index: 1;
        transition: all 0.2s ease-in;
        position: absolute;
        top: 0;        
        display: flex;
        flex-direction: column;
    }
    
    .search-panel--expanded {
        position: absolute;
        top: -@header-height;
        background: #000;
    }
    .search-panel--fixed,
    .search-panel--expanded.search-panel--fixed {
        position: fixed;
        top: 0;
    }
    
    .search-panel__header {
        padding: 1rem;    
        flex: 0 0 auto;
        border-bottom: 1px solid;
        height: @search-panel-header-height;
    }
    
    .search-panel__title {
        text-align: left;
    }
    
    .search-details-expander {
        flex: 0 0 auto;
        width: 2rem;
        height: 2rem;
        fill: @text-color;
        display: inline-block;
    }
    
    .search-panel__content {
        flex: 1 1 auto;
        padding: 0 1rem;
        overflow: hidden;
        transition: height 0.2s ease-in-out;
        height: 0;
        display: flex;
    }
    
    .search-panel__content--expanded {
        overflow-y: auto;
        
    }
    
    .indicators-block {
       justify-content: space-around; 
       margin: 0.5rem -1rem 1rem;  
    }
    
    
    .tabs-block__item {
        flex: 0 0 auto;     
        border-bottom: 2px solid transparent;
        padding: 0.25rem 0.5rem 0.25rem 0;
        margin: 0 1rem 0.5rem 0;
        position: relative;
    }
    
    .tabs-block__item--selected {
        color: @color-primary-dark;
        border-color: @color-primary-dark;
    }
    
    .tabs-block__item-counter {
        display: inline-block;
        position: absolute;
        top: 0;
        right: 0;
        font-size: 0.85em;
        font-weight: bold;
        color: #8c8c8c;
    }
    
    .tabs-block__stub {
        text-align: right;
    }
    
    .tabs-content-block {
        overflow-x: hidden;
        overflow-y: auto;
    }
    
    .tabs-content-block__item {
        flex: 1 0 100%;
        transition: transform 0.2s ease-in-out;
    }
    
    .tabs-content-block__item--swapped {
        transform: translateX(-100%);
    }
    
    .search-details__actions {
        padding: 0;
    }
    
    .header-params {
        padding: 0;
        border-bottom: none;
        display: flex;
    }
    
    .header-params__row {
        // flex-direction: column;
    }
    .header-params__flag {
        margin: 0 0.5rem 0 0;
    }
}
